<!DOCTYPE html>
<html>
  <%- include('../../layout/head') %>
  <body>
    <%- include('../../layout/header') %>
    <a id='myLinks' class='pageLink' href='/favorites'>Favorites</a>
    <div class="showContainer">
      <ul>
        <% pokemon.forEach(mans => { %>
          <li class="pokemonChoice">
            <%- include('../pokemon/show.ejs', { pokemon : mans }) %>
          </li>
        <% }); %>
      </ul>
    </div>
    <%- include('../../layout/footer') %>
    <%- include('../../layout/navScript') %>
  </body>
</html>